# -----------------------------

# Python Cache

# -----------------------------

**pycache**/
_.py[cod]
_.pyo
_.pyd
_.pyc

# -----------------------------

# Virtual Environments

# -----------------------------

venv/
env/
ENV/
.venv/
kafka/

# -----------------------------

# Environment Variables

# -----------------------------

.env
.env.\*
\*.env

# -----------------------------

# Machine Learning Models

# -----------------------------

_.pkl
_.joblib
_.h5
_.pt
\*.pth

# -----------------------------

# Logs

# -----------------------------

\*.log
logs/

# -----------------------------

# IDE / Editor

# -----------------------------

.vscode/
.idea/

# -----------------------------

# Streamlit

# -----------------------------

.streamlit/

# -----------------------------

# OS Files

# -----------------------------

.DS_Store
Thumbs.db
Desktop.ini

# -----------------------------

# Build / Distribution

# -----------------------------

build/
dist/
\*.egg-info/
.eggs/

# -----------------------------

# Coverage / Testing

# -----------------------------

.coverage
coverage.xml
htmlcov/
.pytest_cache/

# -----------------------------

# Temporary Files

# -----------------------------

_.tmp
_.temp
_.swp
_.swo
\*.bak

# -----------------------------

# Databases

# -----------------------------

_.sqlite3
_.db

# -----------------------------

# Docker

# -----------------------------

docker-compose.override.yml

# -----------------------------

# Jupyter

# -----------------------------

.ipynb_checkpoints/

# -----------------------------

# Misc

# -----------------------------

_.orig
_.rej
